<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="sg.edu.nus.mytravelapp" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <!--Parse Permissions-->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <!--
      IMPORTANT: Change "com.parse.starter.permission.C2D_MESSAGE" in the lines below
      to match your app's package name + ".permission.C2D_MESSAGE".
    -->
    <permission android:protectionLevel="signature"
        android:name="sg.edu.nus.mytravelapp.permission.C2D_MESSAGE" />
    <uses-permission android:name="sg.edu.nus.mytravelapp.permission.C2D_MESSAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/travel_icon"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        android:name="sg.edu.nus.mytravelapp.PushNotification">

        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".CurrencyConverter"
            android:label="@string/title_activity_currency_converter"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".Budget"
            android:label="@string/title_activity_budget"
            android:screenOrientation="portrait" >
        </activity>

        <receiver android:name=".PersistentReceiver" >
            <intent-filter>
                <action android:name="Travellers_Broadcast" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".Expenses"
            android:label="@string/title_activity_expenses"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".Map"
            android:label="@string/title_activity_map"
            android:screenOrientation="portrait" >
        </activity>

        <activity
            android:name=".WeatherDialog"
            android:label="@string/title_activity_weather_dialog"
            android:theme="@style/Theme.AppCompat.Dialog.Alert" >
        </activity>

        <!--Parse Intent-->
        <service android:name="com.parse.PushService" />
        <receiver android:name="com.parse.ParsePushBroadcastReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="com.parse.push.intent.RECEIVE" />
                <action android:name="com.parse.push.intent.DELETE" />
                <action android:name="com.parse.push.intent.OPEN" />
            </intent-filter>
        </receiver>
        <receiver android:name="com.parse.GcmBroadcastReceiver"
            android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <action android:name="com.google.android.c2dm.intent.REGISTRATION" />

                <!--
                  IMPORTANT: Change "com.parse.starter" to match your app's package name.
                -->
                <category android:name="sg.edu.nus.mytravelapp" />
            </intent-filter>
        </receiver>
    </application>

</manifest>
