<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="sg.edu.nus.mytravelapp" >

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".CurrencyConverter"
            android:label="@string/title_activity_currency_converter"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".Budget"
            android:label="@string/title_activity_budget"
            android:screenOrientation="portrait">
        </activity>

        <receiver android:name=".PersistentReceiver" >
            <intent-filter>
                <action android:name="Travellers_Broadcast" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".Expenses"
            android:label="@string/title_activity_expenses"
            android:screenOrientation="portrait">
        </activity>


    </application>

</manifest>
